In [70]:
import pandas as pd
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix

In [71]:
df = pd.read_csv('train.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [72]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [73]:
df.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         0
dtype: int64

In [74]:
df['Cabin'].fillna(method='pad', inplace=True)

In [75]:
df.duplicated().sum()

0

In [76]:
df.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [77]:
df.drop(columns=['PassengerId','Name','Ticket', 'Cabin'],inplace=True)

In [78]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 889 entries, 0 to 888
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  889 non-null    int64
 1   Pclass    889 non-null    int64
 2   Sex       889 non-null    object
 3   Age       889 non-null    float64
 4   SibSp     889 non-null    int64
 5   Parch     889 non-null    int64
 6   Fare      889 non-null    float64
 7   Embarked  889 non-null    object
dtypes: float64(2), int64(4), object(2)
memory usage: 48.7+ KB

In [79]:
df.dtypes

Survived      int64
Pclass        int64
Sex          object
Age         float64
SibSp         int64
Parch         int64
Fare        float64
Embarked     object
dtype: object

In [80]:
le = preprocessing.LabelEncoder()

In [81]:
df['Sex'] = le.fit_transform(df['Sex'])
df['Embarked'] = le.fit_transform(df['Embarked'])

In [82]:
dependent_variables = ['Survived','Pclass','Sex','SibSp','Parch','Embarked']

In [102]:
def support_vector_mahine(df,dependent_variable):
    X = df.drop(columns=[dependent_variable])
    y = df[dependent_variable]
    X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3,random_state=1)
    clf = svm.SVC(gamma=0.01, C=100)
    clf.fit(X_train,y_train)
    y_predict = clf.predict(X_test)
    accuracy_score_ = accuracy_score(y_test,y_predict)
    confusion_matrix_ = confusion_matrix(y_test,y_predict)
    
    return dependent_variable,accuracy_score_,confusion_matrix_

In [105]:
result = []
for dependent_variable in dependent_variables:
    result.append(support_vector_mahine(df,dependent_variable))

In [106]:
for one in result:
    column_name, accuracy_score_one, confusion_matrix_one = one_result
    print(column_name)
    print(accuracy_score_one)
    print(confusion_matrix_one)
    print('\n')

Embarked
0.7078651685393258
[[ 16   3  35]
 [  1  11  14]
 [ 22   3 162]]


Embarked
0.7078651685393258
[[ 16   3  35]
 [  1  11  14]
 [ 22   3 162]]


Embarked
0.7078651685393258
[[ 16   3  35]
 [  1  11  14]
 [ 22   3 162]]


Embarked
0.7078651685393258
[[ 16   3  35]
 [  1  11  14]
 [ 22   3 162]]


Embarked
0.7078651685393258
[[ 16   3  35]
 [  1  11  14]
 [ 22   3 162]]


Embarked
0.7078651685393258
[[ 16   3  35]
 [  1  11  14]
 [ 22   3 162]]